version: '3.8'

services:
  db:
    image: postgis/postgis:15-3.3
    container_name: hidro_reporte_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME:-ulises}
      POSTGRES_DB: ${DB_NAME:-hidro_reporte}
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
